:root {
}

* {
  margin: 0;
  position: relative;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
}

@media (prefers-color-scheme: light) {
}
